.file-list-entry {
    min-width: 22pt;
    max-width: 600pt;
    width: 90%;
    border: 4px solid hsla(10, 4%, 31%, 0.699);
    border-radius: 4px;
    padding: 6pt;
    margin: 4pt auto;
    text-align: left;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    transform: translateY(50px) rotateX(-90deg);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.file-list-entry-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-list-entry-bottom p {
    margin: 1px;
    font-size: small;
    opacity: .8;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px) rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
  }

.file-entry-lock {
  margin-left: 4pt;
  font-size: small;
  opacity: .8;
}

.file-list-entry-tag {
  display: inline-block;
  margin-right: 3pt;
  padding: 1pt 4pt;
  border-radius: 2pt 2pt;
  background-color: rgba(102, 99, 99, 0.281);
}

.file-list-entry-metedata {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.file-list-entry-metedata p {
  margin: 2pt 6pt;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}