.file-list-entry {
    min-width: 22pt;
    max-width: 90%;
    border: 4px solid hsla(10, 4%, 31%, 0.699);
    border-radius: 4px;
    padding: 6pt;
    margin: 4pt auto;
    text-align: left;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    transform: translateY(50px) rotateX(-90deg);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.file-list-entry-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-list-entry-bottom p {
    margin: 1px;
    font-size: small;
    opacity: .8;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px) rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
  }