.home-footer-button {
    margin: 0 12pt;
}

.home-footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16pt;
    opacity: .7;
}

.home-footer:hover {
    opacity: 1;
}

.home-footer svg {
    transform: translateY(2pt);
}