/* Sidebar.css */
.app-container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  position: relative;
}

.sidebar-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #ffffff8d;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  width: 250px;
  background-color: #262626b4;
  color: #ffffffce;
  padding: 20px;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(7px);
}

.sidebar-close {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  position: relative;
  display: block;
  /* top: 10pt; */
  right: 10pt;
  opacity: 0;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar li {
  margin-bottom: 10px;
}

.content-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .content-container {
    padding: 0 10pt 0 0px;
  }

  .sidebar-close {
    opacity: 1;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.sidebar-entry-chosen {
  opacity: .5;
  font-weight: bold;
}

.sidebar-return-button {
  font-size: large;
  
  padding: 5pt 8pt;
  border-radius: 3pt;
  text-align: center;
}

.sidebar-return-button:hover {
  background-color: rgba(14, 28, 41, 0.289);
}