.story-text {
    font-family: 'Times New Roman', serif;
    font-size: 15pt;
    padding: 0 1em;
    max-width: 50em;
    margin: 5pt auto 20pt auto;
    text-align: justify;
    line-height: 1.28em;
}

.story-text p {
    text-indent: 1em;
    margin-bottom: 4pt;
    margin-top: 4pt;
}

footer {
    margin-bottom: 20pt;
}

@media (max-width: 768px) {
    .story-text {
        padding: 0 12pt;
    }

    .text-viewer-container {
        padding-top: 18pt;
    }
}

.text-viewer-container {
    padding-bottom: 12pt;
}